[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
pytube = "*"
requests = "*"
bcrypt = "*"
openai-whisper = {git = "git+https://github.com/openai/whisper.git"}
anthropic = "*"

[dev-packages]

[requires]
python_version = "3.8"
